* {
    margin:0;
    padding:0;
}

/* Body ***************************************************/

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
}

section{
    min-height: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
}

h3 {
    font-size: 40px;
    padding-top: 10%;
    margin-bottom: 5px;
}

hr {
    width: 50px;
    height: 4px;
    background: rgb(130, 210, 255);
    border: 0px;
    margin: 0 auto 40px auto;
}

#logo, li, img, .button{
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
}

/* Header ***************************************************/
 
header {
    width: 100%;
    height: 65px;
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#logo {
    width: 50px;
    float: left;
    margin: 8px 0px 0px 30px;
}

#logo:hover {
    opacity: 0.5;
}

#logo img {
    width: 100%;
}

header nav {
    float: right;
    margin: 25px 50px 0px 0px;
}

header nav ul li {
    float: left;
    margin-left: 25px;
}

header nav ul li a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
}

/* Home ***************************************************/

#home {
    background: url(img/banner.jpg);
    background-position: center, center;
    background-size: cover;
    background-attachment: fixed;
}

#home h1 {
    margin: 40vh auto 0px auto;
    font-size: 75px;
    color: #f0f0f0;
}

#home img {
    width: 32px;
    margin-top: 15%;
    opacity: 0.75;
}

#home img:hover {
    opacity: 1;
}

/* About ***************************************************/

#about{
    background: rgb(0,11,65);
    background: linear-gradient(90deg, rgba(0,11,65,1) 0%, rgba(1,42,54,1) 100%);
}

#about img {
    width: 240px;
}

#about img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

#about h4 {
    margin-top: 10px;
    font-size: 25px;
}

#about p {
    width: 800px;
    margin: 0 auto 0 auto;
    line-height: 150%;
}

/* Resume ***************************************************/

#resume{
    background: rgb(0,16,97);
    background: linear-gradient(90deg, rgba(0,16,97,1) 0%, rgba(3,70,88,1) 100%);
    line-height: 150%;
}

#resume h3 {
    font-size: 40px;
    padding-top: 8%;
    margin-bottom: 5px;
}

#resume h4 {
    font-size: 30px;
}

#resume h5 {
    font-size: 15px;
}

#resume h6 {
    font-size: 15px;
}

#resume p {
    font-size: 12px;
    line-height: 100%;
}

#resume ul li {
    padding: 10px;
}

#resume ul {
    padding-bottom: 40px;
}

#resume hr {
    width: 50px;
    height: 4px;
    border: 0px;
    margin: 10px auto 40px auto;
}

#resume ul hr {
    width: 50px;
    height: 4px;
    border: 0px;
    margin: 10px auto 10px auto;
}

/* projects ***************************************************/

#projects {
    background: rgb(0,16,97);
    background: linear-gradient(90deg, rgba(0,16,97,1) 0%, rgba(3,70,88,1) 100%);
    
}

#articles {
    width: 1000px;
    margin: 0 auto 0 auto;
}

#projects ul {
    padding: 0;
}

#projects ul li {
    width: 33.3%;
    float: left;
    margin-bottom: 50px;
}

#projects ul li:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

#projects img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    padding-bottom: 10px;
}

/* social ***************************************************/

#social {
    background: rgb(0,11,65);
    background: linear-gradient(90deg, rgba(0,11,65,1) 0%, rgba(1,42,54,1) 100%);
}

#social ul {
    padding: 0;
}

#social ul li {
    width: 33.3%;
    float: left;
    margin-bottom: 20px;
}

#social img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}

#linkedIn_icon {
    width: 70.5px;
    height: 60px;
    border-radius: 5px;
}

#github_icon {
    width: 60px;
    height: 60px;
    border-radius: 5px;
}

#mail_icon {
    width: 70px;
    height: 52px;
    border-radius: 5px;
    padding-top: 5px;
}

#socialmedia{
    width: 400px;
    margin: 0 auto 0 auto;
}

/* Footer ***************************************************/

footer {
    width: 100%;
    height: 70px;
    background-color: Black;
}

footer p {
    font-size: 12px;
    color: white;
    padding-top: 30px;
}
